@import '../../css/main.scss';

.openac-title {
    height: 43px;
    border-bottom: 1px solid rgba(0, 13, 51, 0.05);
    font-size: 18px;
    display: flex;
    justify-content: space-between;
}

.openac-back {
  // position: absolute;
  color: #F7BD1B;
  line-height: .44rem;
  top: 12px;
}

.openac-verify {
  width: 30%;
 margin: 0px auto;
 display: flex;
}

p {
  font-size: 16px;
  margin-left: .10rem;
}
.openac-content {
  font-size: 16px;
  margin-top: .10rem;
}

ul {
  margin-bottom: .07rem;
}

li {
  list-style: none;
}

.openaccount-li {
  border-bottom: 1px solid #d7d7d7;
  display: flex;
  margin-bottom: .2rem;
}

.openaccount-name {
  flex: 0 0 28%;
  padding-right: 5%;
  color: #848484;
  display: flex;
  align-content: center;
}

.openaccount-text {
  // flex: 1;
}

.openaccount-select {
  width: 100%;
  height: .2rem;
  line-height: .3rem;
  text-align: left;
  background-color: transparent;
  text-align: right;
  color: #000d33;
  font-size: .16rem;
  font-weight: 500;
  padding: 0 .2rem 0 .05rem;
  border: none;
  outline: none;
  background: right center no-repeat transparent;
}

.openaccount-input {
  border: none;
  background: transparent;
  outline: none;
  color: inherit;
  -webkit-tap-highlight-color: transparent;
}

.openaccount-inputs {
  border-bottom: 1px solid #d7d7d7;
  border: none;
  width: 100%;
  background: transparent;
  outline: none;
  color: inherit;
  font: inherit;
  overflow: visible;
}

.openac-button {
  margin: auto;
  bottom: 0px;
  left: 0;
  width: 80%;
  padding: 0 .15rem;
  max-width: 6rem;
  margin-top: .2rem;
}

.buttons {
  display: block;
  width: 80%;
  box-sizing: border-box;
  background: #F7BD1B;
  color: #fff;
  text-align: center;
  font-size: .17rem;
  padding: 10px 0;
  border-radius: 50px;
}
