@import '../../css/main.scss';


.pull-div { 
border: 0;
outline: none;
}
.tips-box {
   width: 100%;
   max-width: 600px;
   padding: 0 .16rem;
   position: absolute;
   z-index: 99999;
   text-align: center;
   box-sizing: border-box;
   top: 40%;
}

.tips-span {
   background-color: rgba(117, 117, 117, 0.33);
   color: #fff;
   text-align: center; 
   font-size: 0.14rem;
   display: inline-block;
   border-radius: 4px;
   max-width: 100%;
   padding: .1rem .16rem;
}