@import '../css/main.scss';


.loginpage {
  position: relative;
  padding-bottom: 0.84rem;
  overflow-y: auto;
}
button {
  margin: 25px auto;
}
    
html {
  font-size: 625%;  /*// 10/16 * 100% =62.5% */
  max-width: 630px;
}
    
.loginpage {
  position: relative;
  padding-bottom: 0.84rem;
  overflow-y: auto;
}
button {
  margin: 25px auto;
}
            
.button{
  /* display:block; */
  height: 0.20rem;
  width: 0.15rem;
}

select {
  height: .5rem;
  line-height: .5rem;
  background-color: transparent;
  text-align: right;
  font-size: .16rem;
  border: none;
  font-size: 18px;
  top: 60%;
  left: 1%;
}
    
.loginimg {
  width: 360px;
  height: 220px;
  overflow: hidden;
}
      
.login-span {
  display: block;
  margin: auto;
  font-size: 0.45rem;
}
    
.content {
  margin-top: 0.3rem;
}

.login-input {
  height: 0.5rem;
  border-bottom: 1px solid #f0f0f0;
  font-size: 17px;
  border: none;
  background: transparent;
  outline: none;
  color: inherit;
  // padding-left: .75rem !important;
}

a {
  font-size: 18px;
}

.login-botton {
  margin: auto;
  bottom: 0px;
  left: 0;
  width: 80%;
  padding: 0 .15rem;
  max-width: 6rem;
  margin-top: .2rem;
}

.buttons {
  display: block;
  width: 80%;
  box-sizing: border-box;
  background: #F7BD1B;
  color: #fff;
  text-align: center;
  font-size: .17rem;
  padding: 10px 0;
  border-radius: 50px;
}