

.nationalityTax-title {
  height: 43px;
  border-bottom: 1px solid rgba(0, 13, 51, 0.05);
  font-size: 18px;
  }
  
  .nationalityTax-back {
  position: absolute;
  color: #F7BD1B;
  line-height: .44rem;
  top: 4px;
  }
  
.nationalityTax-verify {
    width: 30%;
    margin: 0px auto;
    position: fixed;
    top: 10px;
    left: 40%;
} 

label {
  font-size: 18px;
}

.nationalityTax-shengfen {
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
}

.fen {
  line-height: .3rem;
  background-color: transparent;
  text-align: right;
  font-size: .16rem;
  border: none;
  font-size: 18px;
  top: 60%;
  left: 1%;
  border-bottom: 1px solid rgb(185, 185, 185);
}

.nationalityTax-renzheng {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.login-botton {
  margin: auto;
  bottom: 0px;
  left: 0;
  width: 80%;
  padding: 0 .15rem;
  max-width: 6rem;
  margin-top: .2rem;
}

.buttons {
  display: block;
  width: 80%;
  box-sizing: border-box;
  background: #F7BD1B;
  color: #fff;
  text-align: center;
  font-size: .17rem;
  padding: 10px 0;
  border-radius: 50px;
}
/* select {
  display: block; 
  height: 20px;
  height: 20px;
  background-color: transparent;
  text-align: right;
  color: #000d33;
  font-size: .16rem;
  font-weight: 500;
  padding:  0.2rem 0.05rem;
  background: right center no-repeat transparent;
  background-size: .14rem;
  position: absolute;
} */

/* input {
  height: 20px;
 width: 100%; 
  border-bottom: 1px solid #f0f0f0;
  padding-left: 0.22rem;
  font-size: 14px;
} */