@import '../css/main.scss';

.title {
height: 43px;
border-bottom: 1px solid rgba(0, 13, 51, 0.05);
font-size: 18px;
}

.back {
position: absolute;
color: #F7BD1B;
line-height: .44rem;
top: 12px;
}

.verify {
width: 30%;
margin: 0px auto;
display: flex;

}
.checkbox {
width: 300px;
margin: 20px auto;
}
.checknum {
 width: 70px;
 height: 30px;
 color: darksalmon;
 border: solid darksalmon 1px;
 /* display: block; */
 cursor: pointer;
 font-size: 20px;
 margin-left: 10px;
}

.verify-input {
  height: 0.5rem;
  border-bottom: 1px solid #f0f0f0;
  font-size: 16px;
  border: none;
  background: transparent;
  outline: none;
  color: inherit;
}

.btn-next {
  display: block;
  width: 80%;
  box-sizing: border-box;
  background: #F7BD1B;
  color: #fff;
  text-align: center;
  font-size: .17rem;
  padding: 10px 0;
  border-radius: 50px;
}

.button {
  margin: auto;
  bottom: 0px;
  left: 0;
  width: 80%;
  padding: 0 .15rem;
  max-width: 6rem;
  margin-top: .2rem;
}