
 * {
padding: 0px;
margin: 0px;
}

body {
  width: 100%;
  height: 100%;
}

html {
  font-size: 625%; // 10/16 * 100% =62.5%
  max-width: 600px;
}
// #root{
//   max-width: 640px;
//   max-height: 360px;
// }
  