.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

  .box {
    /* width: 600px;
    height: 400px; */
    /* overflow: scroll; */
    border:#9a9a9a  solid 1px;
  }

  h4{
    text-align: center;
  }

  /* .content .input{
    width: 200px;
    height: 28px;
    font-size: 18px;
  } */

  /* .content button{
    height: 30px;
    margin-left: 5px;
  } */

  label {
    display: block;
  }

  ul{
    margin-left: -40px;
  }
  ul li{
    list-style: none;
    display: flex;
    justify-content: space-between;
    border-bottom: solid #c5c5c5 1px;
    margin-top: 10px;
  }

  /* ul li input{
    margin-right: -105px;
  } */

  .content{
      margin:0px auto;
      width: 300px;
  }

  span{
    cursor: pointer;
    
  }
/* 
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
